* {
    padding: 0;
    margin: 0;
    font-family: TW-R;
}
a {
    text-decoration: none;
    color: black;
}
main a:hover, 
footer a:hover,
aside a:hover{
    transform: scale(1.05);
    color: tomato;
}
.head-btn{
    display: none;
}
.header {
    padding: 52px 52px 0 51px;
}
.header-nav {
    margin-top: 18.8px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(56px, auto);
    grid-template-areas: ". hd hd . nav nav nav nav nav btns btns btns"
        ". lang lang lang lang lang lang lang lang lang lang lang";

}
.header li {
    display: inline;
}
h1 {
    grid-area: hd;
    font-family: TW-B;
    font-weight: bold;
    letter-spacing: -1.0px;
    text-align: center;
    position: relative;
    left: -21px;
}

.nav-bar {
    grid-area: nav;
    margin-top: 13px;
    transition: 0.2s all ease;
    text-align: right;
    position: relative;
    right: 7px;
}

.nav-bar ul li:not(:first-child) {
    margin-left: 3.1%;
    letter-spacing: 0.2px;
}

.nav-bar ul li:nth-child(n+4) {
    margin-left: 21px;
}

.nav-bar a:hover {
    position: relative;
    top: -1px;
    cursor: pointer;
    font-weight: 800;
    transition: 0.2s all ease;
    text-decoration: line-through;
}

.log-btns {
    grid-area: btns;
    align-self: center;
    padding-left: 15%;
    margin-top: -6px;
}

button {
    border: none;
    background: none;
    font-weight: bold;
}

.log-in {
    color: black;
}

.log-in span {
    margin-left: 6px;
    font-size: 15px;
    word-spacing: 1px;
    letter-spacing: 0.8px;
}

.log-in i {
    color: #5b4295;
    font-size: 15px;
}
.log-in:hover {
    cursor: pointer;
    color: black;
    text-shadow: 0px 1px 1px black;
    background: #5b4295;
    border-radius: 5px;
    box-shadow: 0px 3px 5px 10px #5b4295;
}

.log-in:hover i {
    color: white;
    cursor: pointer;
    font-size: 15px;
}

.sign-up {
    position: relative;
    top: 2px;
    margin-left: 19px;
    height: 42px;
    width: 94px;
    background-image: linear-gradient(to bottom right, #451a6b, #6276cd);
    border-radius: 10rem;
    box-shadow: 0 10px 20px 0px #7384bb;
}

.sign-up span {
    position: relative;
    top: -2px;
    left: -1px;
    font-family: TW-B;
    font-size: 16px;
    word-spacing: 0px;
    letter-spacing: 0.4px;
    color: white;
}

.sign-up:hover {
    cursor: pointer;
    background-image: none;
    border-radius: none;
    border: none;
    box-shadow: none;
}

.sign-up:hover span {
    color: white;
    text-shadow: 0px 1px 1px white;
    background: #451a6b;
    border: 1px #451a6b solid;
    border-radius: 5px;
    box-shadow: 0px 3px 5px 10px #451a6b;
}

.language-list {
    grid-area: lang;
    margin-left: 50px;
    margin-top: 2px;
    font-size: 14px;
    letter-spacing: 0.8px;
    color: #a3a3a3;
    transition: 0.2s all ease;
}

.language-list>input {
    display: none;
}

.language-controls :nth-child(n+2) {
    margin-left: 12px;
    letter-spacing: 0.1px;
}

.language-controls :nth-child(n+2)::before {
    content: " /  ";
    position: relative;
    right: 6px;
}

.language-controls :hover::before {
    color: #858688;
    font-weight: 400;
}

.language-controls label:hover,
#language1:checked~.language-controls label:nth-of-type(1),
#language2:checked~.language-controls label:nth-of-type(2),
#language3:checked~.language-controls label:nth-of-type(3),
#language4:checked~.language-controls label:nth-of-type(4) {
    cursor: pointer;
    font-weight: 800;
    color: #959595;
    border-bottom: 1px solid #959595;
    transform: translate(0px, 3px);
    transition: 0.2s all ease;
}

.language-controls label:hover::before,
#language1:checked~.language-controls label:nth-of-type(1)::before,
#language2:checked~.language-controls label:nth-of-type(2)::before,
#language3:checked~.language-controls label:nth-of-type(3)::before,
#language4:checked~.language-controls label:nth-of-type(4)::before {
    font-weight: 400;
    color: #a3a3a3;
}